@page "/EmployeeAdd"
@using BlazorWebProject.Model
@using BlazorWebProject.Service
@inject ClientService service

<div class="form-group">
    <input type="text" class="form-control form-control-user" @bind-value="emp.Name" placeholder="이름을 입력해주세요." maxlength="12">
</div>
<hr />
<div class="form-group">
    <select class="form-select" @bind="emp.DepartmentId">
        <option value="" disabled>부서를 선택하세요</option>
        <option value="1">Engineering</option>
        <option value="2">Sales</option>
        <option value="3">Marketing</option>
    </select>
</div>
<hr />
<div class="form-group">
    <select class="form-select" @bind="emp.Gender">
        <option value="" disabled>성별을 선택하세요</option>
        <option value="Male">남성</option>
        <option value="FeMale">여성</option>
    </select>
</div>
<hr />
<div class="form-group">
    <input type="date" class="form-control form-control-user" @bind="empBirthDate">
</div>
<button class="btn btn-primary" @onclick="@(async () => await AddEmployee())">직원추가</button>
<div class="mt-4">
</div>

@code {

    [Parameter]
    public EventCallback<EmployeeModel> OnEmployeeAdded { get; set; }

    private EmployeeModel emp = new EmployeeModel();

    private DateTime empBirthDate = DateTime.Today;

    private async Task AddEmployee()
    {
        emp.id = Guid.NewGuid().ToString();
        emp.BirthDate = empBirthDate.ToString("yyyy-MM-dd");
        await service.EmployeeAdd(emp);
        await OnEmployeeAdded.InvokeAsync(emp);
    }
}
