@using BlazorWebProject.Model
@using BlazorWebProject.Service
@using Microsoft.AspNetCore.Identity
@inject AuthService service
@inject IJSRuntime JsRuntime
@inject NavigationManager nav

<h3>EmployeeLogin</h3>
<div class="form-group">
    <input type="text" class="form-control form-control-user" @bind-value="empLogin.Id" placeholder="아이디를 입력해주세요." maxlength="12">
</div>
<hr />
<div class="form-group">
    <input type="password" class="form-control form-control-user" @bind-value="empLogin.Password" placeholder="비밀번호를 입력해주세요." maxlength="12">
</div>
<hr />
<button class="btn btn-primary" @onclick="@(async () => await LoginCheck())">로그인</button>

@code {

    private EmployeeModel emp = new();
    private EmployeeLoginModel empLogin = new();

    private async Task LoginCheck()
    {
        if (string.IsNullOrEmpty(empLogin.Id) || string.IsNullOrEmpty(empLogin.Password))
        {
            var errorString = string.IsNullOrEmpty(empLogin.Id) ? "아이디를 입력해주세요." : "비밀번호를 입력해주세요.";

            await JsRuntime.InvokeVoidAsync("alert", errorString);

            return;
        }

        Login();
    }

    private async void Login()
    {
        await service.Login(empLogin);
    }

}
