@page "/"
@rendermode InteractiveServer
@using BlazorWebProject.Service
@using BlazorWebProject.Model
@using BlazorWebProject.Components
@inject ClientService service
@inject IJSRuntime JsRuntime
<PageTitle>Home</PageTitle>

@if (!string.IsNullOrEmpty(Token))
{
    <p>@Token</p>
    <div class="mt-4">
        <EmployeeAdd OnEmployeeAdded="HandleEmployeeAdded" />
    </div>

    <div class="mt-4">
        <EmployeeList @ref="employeeList" />
    </div>
}
else
{
    <div class="mt-4">
        <EmployeeLogin />
    </div>
}

@code {
    private string Token = string.Empty;

    private EmployeeList employeeList = null!;

    private async Task HandleEmployeeAdded(EmployeeModel emp)
    {
        await employeeList.EmployeeListUpdate(emp);
    }
}