@page "/"
@rendermode InteractiveServer
@using BlazorWebProject.Service
@using BlazorWebProject.Model
@inject ClientService service
<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<div class="mt-4">
    <EmployeeList />
</div>


@code {

}