@page "/"
@rendermode InteractiveServer
@using BlazorWebProject.Service
@using BlazorWebProject.Model
@using BlazorWebProject.Components
@inject ClientService service
<PageTitle>Home</PageTitle>

<div class="mt-4">
    <EmployeeAdd OnEmployeeAdded="HandleEmployeeAdded" />
</div>

<div class="mt-4">
    <EmployeeList @ref="employeeList" />
</div>

@code {

    private EmployeeList employeeList = null!;

    private async Task HandleEmployeeAdded(EmployeeModel emp)
    {
        await employeeList.EmployeeListUpdate(emp);
    }

}