@using Microsoft.AspNetCore.Components.Authorization
@using BlazorWebProject.Components.Pages
@inherits LayoutComponentBase
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <CascadingAuthenticationState>
                <AuthorizeView>
                    <Authorized>
                        <LoginStatus></LoginStatus>
                    </Authorized>
                </AuthorizeView>
            </CascadingAuthenticationState>
        </div>

        <article class="content px-4">
            <CascadingAuthenticationState>
                <AuthorizeView>
                    <Authorized>
                        <Home></Home>
                    </Authorized>
                    <NotAuthorized>
                        <EmployeeLogin></EmployeeLogin>
                    </NotAuthorized>
                </AuthorizeView>
            </CascadingAuthenticationState>
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@code{

}
