@page "/EmployeeEdit/{id}/{pk}"
@using BlazorWebProject.Model
@using BlazorWebProject.Service
@inject ClientService service
@inject NavigationManager NavManager
@inject IModalService ModalService
@if (ShowForm)
{
    <div class="form-group">
        <input type="text" class="form-control form-control-user" @bind-value="emp.Name" placeholder="이름을 입력해주세요." maxlength="12">
    </div>
    <hr />
    <div class="form-group">
        <select class="form-select" @bind="emp.DepartmentId">
            <option value="" disabled>부서를 선택하세요</option>
            <option value="1">Engineering</option>
            <option value="2">Sales</option>
            <option value="3">Marketing</option>
        </select>
    </div>
    <hr />
    <div class="form-group">
        <select class="form-select" @bind="emp.Gender">
            <option value="" disabled>성별을 선택하세요</option>
            <option value="Male">남성</option>
            <option value="FeMale">여성</option>
        </select>
    </div>
    <hr />
    <div class="form-group">
        <input type="date" class="form-control form-control-user" @bind="empBirthDate">
    </div>
    <button class="btn btn-primary" @onclick="@(async () => await EditEmployee())">직원수정</button>
    <div class="mt-4">
    </div>
}
else
{
    <div class="alert alert-success" role="alert">
            submitted successfully.<br />
    </div>
}
@code {
    [Parameter]
    public string id { get; set; } = null!;
    [Parameter]
    public string pk { get; set; } = null!;
    [Parameter]
    public EmployeeModel Data { get; set; } = null!;

    private EmployeeModel emp = new();

    private DateTime empBirthDate = new();

    private bool ShowForm { get; set; } = true;

    protected override async Task OnInitializedAsync()
    {
        await GetEmployeeById();
    }

    private async Task GetEmployeeById()
    {
        emp.id = Data.id;
        emp.pk = Data.pk;
        emp = await service.GetEmployeeById(emp);
        empBirthDate = DateTime.Parse(emp.BirthDate);
    }

    private async Task EditEmployee()
    {
        emp.BirthDate = empBirthDate.ToString("yyyy-MM-dd");
        await service.EmployeeUpdate(emp);
        NavManager.NavigateTo("/");
    }

}
